div {
  box-sizing: border-box;
  width: 100%;
  border: solid rgba(233, 21, 215, 0.575) 10px;
  padding: 10px;
}
body {
  background-color: #f7f7f7;
}
h1 {
  color: rgb(137, 43, 226);
  text-align: center;
}
h3 {
  color: rgb(233, 21, 215);
  text-align: center;
}

#tahoma{
  font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;
}
#deal {
  font-family: arial;
}
#sales{
  font-family: arial;
  color: red;
  font-style: italic;

}
#course {
  font-family: verdana;

}
#pro {
  font-size: small;
  color: rgb(207, 207, 207);
}
#dev {
  color: white;
  background-color: rgba(0, 165, 0, 0.774);
  border: none;

  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#business{
  font-family: arial;

}
#apple{
  font-size: small;
}
#learn-more{
  color: rgb(0, 110, 255);
}

#new{
  color: red;
  text-align:center ;
  font-family: arial;
}
#macbook{
  text-align:center ;
  font-family: arial;
  font-weight: bold;
}
#supercharged{
  text-align:center ;
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
}
#price{
  text-align:center ;
  font-family: arial;
  color: rgb(110, 110, 110);
}
#Buy{
  color: white;
  background-color: rgba(15, 79, 255, 0.918);
  border: none;
  padding: 5px;
  width: 45px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45%;
  margin: 0;
  top: 50%;
  
}


p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-header {
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
}

.tweet-info {
  color: rgb(100, 100, 100);
}

.tweet {
  width: 600px;
  line-height: 25px;
  margin-bottom: 20px;
}

.twitter-handle {
  color: rgb(29, 155, 240);
}

.price {
  font-size: 32px;
  margin-bottom: 5px;
}

.currency {
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.change {
  color: rgb(10, 151, 52);
  margin-bottom: 8px;
}

.after-hours {
  color: rgb(100, 100, 100);
}

.after-hours-change {
  color: rgb(235, 39, 39);
}




























