div {
  box-sizing: border-box;
  width: 100%;
  border: solid rgba(233, 21, 215, 0.575) 10px;
  padding: 10px;
}
body {
  background-color: #f7f7f7;
}
h1 {
  color: rgb(137, 43, 226);
  text-align: center;
}
h3 {
  color: rgb(233, 21, 215);
  text-align: center;
}

#tahoma{
  font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;
}
#deal {
  font-family: arial;
}
#sales{
  font-family: arial;
  color: red;
  font-style: italic;

}
#course {
  font-family: verdana;

}
#pro {
  font-size: small;
  color: rgb(207, 207, 207);
}
#dev {
  color: white;
  background-color: rgba(0, 165, 0, 0.774);
  border: none;

  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#business{
  font-family: arial;

}
#apple{
  font-size: small;
}
#learn-more{
  color: rgb(0, 110, 255);
}

#new{
  color: red;
  text-align:center ;
  font-family: arial;
}
#macbook{

}
#supercharged{

}
#price{

}
#Buy{
  
}


