* {
  padding: 0px;
  margin: 0px;
}

.main {
  box-sizing: border-box;
  width: 100%;
  border: solid rgba(233, 21, 215, 0.575) 10px;
  padding: 10px;
}
body {
  background-color: #f7f7f7;
}
.header {
  color: rgb(137, 43, 226);
  text-align: center;
}
.title {
  color: rgb(233, 21, 215);
  text-align: center;
}

.main2 {
  display: grid;
  grid-template-columns: 200px 75px;
}
.one {
  background-color: lightblue;
}
.two {
  background-color: lightpink;
}

.main3 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 20px;
  row-gap: 10px;
}
.col {
  background-color: lightpink;
}
